*{
    color: black;
}

body{
    /* background: linear-gradient(to top right, rgba(67, 2, 87, 0.794), rgba(1, 19, 69, 0.884)); */
    background-color: rgba(245, 245, 220, 0.734);
}

h1{
    text-align: center;
    color: rgb(164, 45, 186);
    font-size: 3rem;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
}

p, p>li{
    font-size: larger;
    font-family: 'Mulish', sans-serif;
    margin: 1rem auto;
}

h2 > li{
    color: rgb(164, 45, 186);
    font-family: 'Nunito Sans', sans-serif;
}

.space{
    margin: 2rem auto;
}

.space::first-letter{
    margin-left: 2.3rem;
    font-size: 2rem;
    color: rgb(164, 45, 186);
}

